@font-face {
    font-family: 'lobster-regular';
    src: url('../fonts/7z235irp-webfont.eot');
    src: url('../fonts/7z235irp-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/7z235irp-webfont.woff2') format('woff2'),
         url('../fonts/7z235irp-webfont.woff') format('woff'),
         url('../fonts/7z235irp-webfont.ttf') format('truetype'),
         url('../fonts/7z235irp-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot?#iefix')format("embedded-opentype"),
    	 url('../fonts/MyriadProRegular.woff') format("woff"),
    	 url('../fonts/MyriadProRegular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
 }

@font-face {
    font-family: 'MyriadProItalic';
    src: url('../fonts/MyriadProItalic.eot');
    src: url('../fonts/MyriadProItalic.eot?#iefix')format("embedded-opentype"),
    	 url('../fonts/MyriadProItalic.woff') format("woff"),
    	 url('../fonts/MyriadProItalic.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
	position: relative;
}
body {
	min-width: 1080px;
	text-align: center;
	font-family: 'MyriadProRegular';
	overflow-x: hidden;
}
a{
	text-decoration: none;
	color: #472275;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	background-color: #FFCECE !important;
	box-shadow: 0 1px 2px rgba(180, 14, 14, 0.57);
}

.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1050px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-orange-butt{

}
	.b-orange-butt:hover{
		
	}

.b-1{
	
}

	.b-1 img{
		float: left;
		width: 178px;
		height: 170px;
		margin-top: 8px;
		margin-left: -8px;
		margin-bottom: 12px;
	}

	.b-1 .invest{
		float: left;
		margin-right: 89px;
		margin-left: 100px;

	}

		.b-1 .invest h2{
			font-family: 'lobster-regular';
			font-size: 27px;
			color: #502b1c;
			margin-top: 41px;
			margin-bottom: 16px;
		}

		.b-1 .invest p{
			width: 415px;
			font-size: 22px;
			color: #502b1c;
			margin: 0px auto;
			font-family: 'MyriadProRegular';
		}

	.b-1 .telephone{
		float: left;
		font-family: 'lobster-regular';
		color: #502b1c;
		font-size: 24px;
		margin-top: 70px;
	}

	.b-2{
		background: url('../i/back-1.png') 50% 100%;
		background-size: cover;
		padding-top: 120px;
		padding-bottom: 149px;
	}
		.b-2 .reg{
			border: 1px solid #fff;
			padding-top: 8px;
			width: 1050px;
			height: 345px;
		}

				.b-2 .reg iframe{
					padding-left: 10px;
				}

				.b-2 .reg form{
					float: left;
  					width: 465px;
				}

				.b-2 .reg form .title{
					background-color: #8e5b2b;
  					width: 341px;
  					padding-left: 72px;
  					padding-right: 52px;
  				
				}

					.b-2 .reg .line{
						margin-top: 39px;
  						float: left;
  						width: 37px;
  						height: 1px;
  						border-bottom: 1px solid #c7ad95;
					}

					.b-2 .reg form h2{
						line-height: 31px;
  						font-family: 'lobster-regular';
  						font-size: 22px;
  						color: #fff;
  						float: left;
  						width: 254px;
  						margin-top: 12px;
  						margin-bottom: 7px;
  						margin-left: 5px;
  						margin-right: 5px;
					}

					.b-2 .reg form .b-popup-form{
						background-color: #fff;
						padding-top: 21px;
					}

						.b-2 .reg form .b-popup-form .mail{
							background-color: #502b1c;
							padding: 13px 13px 10px 13px;
							margin-left: 89px;
						}

							.b-2 .reg form .b-popup-form .name{
								background-color: #502b1c;
								padding: 10px 13px 8px 13px;
								margin-left: 89px;
							}
							.b-2 .reg form .b-popup-form .tel{
								background-color: #502b1c;
								padding: 10px 13px 9px 13px;
								margin-left: 89px;
							}

						.b-2 .reg form input[type='text']{
							font-family: 'MyriadProItalic';
							font-size: 16px;
							background-color: #8e5b2b;
							padding: 11px 0px 12px 38px;
							float: left;
							width: 224px;
							color: #fff;
							border: none;
							margin-bottom: 8px;
						}



						input::-webkit-input-placeholder {
							color: #fff;
						}
						input:-moz-placeholder {
							color: #fff;
						}

						.b-2 .reg form input[type='submit']{
						font-family: 'lobster-regular';
  						width: 306px;
  						font-size: 21px;
  						color: #fff;
  						margin-top: 12px;
  						margin-left: 17px;
  						text-align: center;
  						background-color: #502b1c;
  						padding: 5px 0px 4px 2px;
  						border-radius: 7px;
  						border: 1px solid #200d06;
  						margin-bottom: 33px;
  						box-shadow: 0px 0px 6px 0px #c7ad95,
 									inset 0px 0px 1px 0px #8e5b2b;
						}

						.b-2 .reg form input[type='submit']:hover{
							background-color: #8e5b2b;
							cursor: pointer;
							border: 1px solid #8e5b2b;
						}


						.b-2 .reg form input[type='submit']:active{
							background-color: #784c23;
						}

	.b-3{
		
	}
		.b-3 .image{
			position: absolute;
  			z-index: 0;
  			left: 617px;
		}

		.b-3 .content{

		}

		.b-3 h2{
			font-family: 'lobster-regular';
			font-size: 36px;
			color: #502b1c;
			margin-top: 46px;
			margin-bottom: 12px;
		}

		.b-3 .our{
			
		}
	
			.b-3 .our img{
				margin-right: 31px;
			}
	
			.b-3 .our img:last-child{
				margin-right: 0px;
			}

			.b-3 ul{
				margin-top: 60px;
				font-family: 'MyriadProItalic';
				font-size: 16px;
				color: #502b1c;
			}

				.b-3 ul li{
					width: 150px;
  					display: inline;
  					float: left;
  					margin-left: 30px;
				}

				.b-3 ul li:first-child{
					margin-left: 0px;
				}

				.b-3 ul li p{
					width: 112px;
  					margin-top: 18px;
  					margin-left: 20px;
				}

				.b-3 .text p:last-child{
					margin-right: 22px;
				}

				.b-3 .text p:first-child{
					margin-left: 24px;
				}

		.b-3 .paragraph{
			margin: 0px auto;
			margin-top: 81px;
			width: 709px;
			padding-top: 55px;
			font-size: 17px;
			text-align: center;
			font-family: 'MyriadProItalic';
			border-top: 1px solid #8c5827;
			color: #502b1c;
			line-height: 25px;
			padding-left: 24px;
			padding-bottom: 215px;
		}

@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}